<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/underscore/underscore.js"></script>
</head>
<body>
<div id="myString"></div>
<script type="text/html" id="mytemplate">
	<ul>
		##for(var i=0;i<arr.length;i++){##
			##var a=arr[i];##
			<li>
				<span>姓名：{{a.name}}</span>
				<span>年龄：{{a.age}}</span>
			</li>
		##}##
	</ul>
</script>
<script>
	$(function(){
		var obj = [
			{
				name: 'zhangsan',
				age: 10
			},
			{
				name: 'lisi',
				age: 12
			},
			{
				name: 'wangwu',
				age: 15
			}
		];
		// 第一步：获取到静态模板
		var _html = $("#mytemplate").html();
		// 第二步：把静态模板转换为js函数
		var myFunction = _.template( _html );
		// 第三步：传参并执行，输出html片段
		var string = myFunction( {arr: obj} )
		
		$("#myString").html( string );
	});
</script>
</body>
</html>